<div *ngIf="cartItems && cartItems.length > 0">
	<table>
		<thead>
			<tr>
				<th scope="col">Product Name</th>
				<th scope="col">Quantity</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of cartItems">
				<td>{{ item.productName }}</td>
				<td>{{ item.quantity }}</td>
				<td><button class="btn-primary" (click)="Remove(item.productId)">-</button></td>
			</tr>
		</tbody>
	</table>
</div>
<div *ngIf="cartItems && cartItems.length === 0">
	<p>Your cart is empty</p>
</div>